<div class="post-item">
  <div class="post-rating" id=<%= "rate-#{post.id}" %>>
    <%= link_to_unless post.voted_from_ip?(request.remote_ip), '+', post_votes_path(post.id, :vote_up => true), :method => :post, :remote => true %>
    <%= post.rate %>
    <%= link_to_unless post.voted_from_ip?(request.remote_ip), '-', post_votes_path(post.id, :vote_down => true), :method => :post, :remote => true %>
  </div>
  <div class="post-content">
    <div class="post-title">
      <%= link_to post.title, post %>
    </div>
    <div class="notice" id=<%= "vote-notice-#{post.id}" %>>
    </div>
    <div class="post-text">
      <p><%= post.text %></p>
    </div>
    <div class="post-source">
      Source: <%= post.source %>
    </div>
    <div class="post-tags">
      Tags: <%= post.tags %>
    </div>
  </div>
</div>
