<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @post.category.name %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Text:</b>
  <%= @post.text %>
</p>

<p>
  <b>Source:</b>
  <%= @post.source %>
</p>

<p>
  <b>Tags:</b>
  <%= @post.tags %>
</p>


<%= link_to 'Back', posts_path %>
