<p id="notice"><%= notice %></p>

<div class="post">
  <div class="post-rating">
    <%= @post.rate %>
  </div>
  <div class="post-content">
    <div class="post-title">
      <%= @post.title %>
    </div>
    <div class="post-text">
      <p><%= @post.text %></p>
    </div>
    <div class="post-source">
      Source: <%= @post.source %>
    </div>
    <div class="post-tags">
      Tags: <%= @post.tags %>
    </div>
  </div>
</div>

<%= link_to 'Back', home_path %>
